.description{
    width: 100%;
    display: flex;
    border-right: 1px solid red;
}

.pricing{
   
    margin-top: 30px;
    margin-left: 100px;
    color: brown;
}
.btn{
    width: 500px;
}
.bBtn{
    width: 120px;
}